* {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #222;
	font: 100%/1.5em "Helvetica Neue",Arial,Helvetica,sans-serif;
	margin: 3em auto;
	width: 40em;
}

h1 {
	font-size: 2em;
	padding: 0 0 0.75em;
}
h2 {
	font-size: 1.5em;
	padding: 0.5em 0;
}
p {
	padding: 0 0 1.5em;
}
